APP_NAME="Grand Line Store"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_PORT=8080

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=sqlsrv
DB_HOST=sqlserver
DB_PORT=1433
DB_DATABASE=redline
DB_USERNAME=sa
DB_PASSWORD=
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=true

MSSQL_SA_PASSWORD=

SESSION_DRIVER=database
SESSION_CONNECTION=sqlsrv
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=public
CACHE_STORE=database
QUEUE_CONNECTION=sync
